body {
	text-align: center;
	width: 400px;
	margin: 0 auto;
	background-color: gray;
	font-family: sans-serif;
}
p.red {
	background-color: pink;
}
.box {
	border: 2px solid black;
	margin: 20px;
	background-color: lightgray;
	padding: 20px;
}